 <h1 style="color: red;">{{msg}}</h1>

<a href="{% url 'register' %}">register</a>
<br/>
<br/>
<form action ="{% url 'login' %}" method ="get" >
    <button type="submit" >login</button>
</form>

{% if register %}
  register form
  <form action="{% url 'register'%}" method ="post" enctype="multipart/form-data">

    {%  csrf_token%}
    name: <input type="text" name="name" value="{{name}}"> <br/>
    email: <input type="email" name="email" value={{email}}> <br/>
    document: <input type="file" name="document" value="{{document}}">
    passw:<input type="password" name="passw" >
    c_passw :<input type="password" name="c_passw" >
    <br/>
    <input type="submit" value="register"><br/>
   </form>

{% endif%}