<!-- templates/userdashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ data.name }}!</h2>
    <p><strong>Email:</strong> {{ data.email }}</p>

    <p><strong>Uploaded Document:</strong></p>
    <a href="{{ data.document.url }}" target="_blank">View Document</a>
    <a href="{{ data.document.url }}" download>Download</a>


    <p><strong>Password:</strong> {{ data.passw }}</p>  

    <br><br>
    <a href="{% url 'landing' %}">Logout</a>  
</body>
</html>
