<!-- templates/userdashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
</head>
<body>
<h2>Welcome, {{ data.name }}!</h2>
    <p><strong>Email:</strong> {{ data.email }}</p>

    <p><strong>Uploaded Document:</strong></p>
    <a href="{{ data.document.url }}" target="_blank" download="">View Document</a>
  


    <p><strong>Password:</strong> {{ data.passw }}</p> 
    <!-- <p><strong>id:</strong> {{ data.id }}</p>   -->

    <br><br>


     <a href="{% url 'query' pk=data.id %}">query</a>



     {% if query %}
     <form action="{% url 'querydata'  %}" method="post" enctype="multipart/form-data">
     {% csrf_token %}
     name: <input type="text" name="name" value="{{ data.name }}" readonly><br/>
     Email: <input type="text" name="email" value="{{ data.email }}" readonly><br/>
     query: <input type="text" name="query">
     <input type="submit" value='query'>
     <br/>
     </form>

     {% endif %}}

     <a href="{% url 'showquery' pk=data.id %}">Show Query</a>

    
{% if all_query %}
<table>
   <tr>
      <th>s.n0</th>
      <th>name</th>
      <th>email</th>
      <th>query</th>
   </tr>
   {% for i in all_query %}
   <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.email }}</td>
      <td>{{ i.query }}</td>
   </tr>
   {% endfor %}
</table>
{% else %}
<p>No previous queries found.</p>
{% endif %}

     

     
     

     
     
     
 
   
    <a href="{% url 'landing' %}">Logout</a>  
</body>
</html>
